.reset-form-container {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.reset-form-container form {
  width: 30%;
  height: auto;
  padding: 0px 10px;
  box-shadow: rgba(99, 99, 99, 0.3) 0px 2px 8px 0px;
  min-width: 500px;
  display: flex;
  flex-direction: column;
  padding-bottom: 30px;
}

.reset-form-container form p {
  text-align: center;
  width: 90%;
  align-self: center;
  color: #555;
}

/* email entry form */

#token-entry p span {
  color: blueviolet;
}

#button-loader {
  position: absolute;
  height: 100%;
  width: 4em;
  right: 20%;
  /* background-color: rgb(0, 0, 0); */
  display: flex;
  align-items: center;
  justify-content: center;
}

#button-loader div {
  border-radius: 50%;
  height: 15px;
  width: 15px;
  border: 5px solid black;
  border-left: 5px solid transparent;
  animation: btn-loading 1100ms linear infinite forwards;
  transform-origin: center;
}

@keyframes btn-loading {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
